section.section_blog
	.section_blog__container
		.post
			h1.post__title Recent posts
			ul.post__list
				each dataInfo in data
					li.post__list_item
						+post_card(dataInfo)
		aside.blog
			form.form_blog
				label(for="search")
					input(id="search" type="search" class="form_blog__search" placeholder="Search blog")
				button(type="submit"  aria-label='Search' class="form_blog__submit")
			+posts_list('Announcements', 'call.svg', ...linkItemOne)
			+posts_list('Popular posts', 'popular-posts.svg', ...linkItemTwo)
			.blog__img
				img(src="images/other/posts-image.jpg", alt="image")
			.tag_cloud
				h4.tag_cloud__title Tag cloud
				.tag_cloud__img
					img(src="images/other/posts-link.jpg", alt="image")
					picture()
						img(src="images/other/posts-link.jpg", alt="image")
