section.section.post
	.post__main
		.post__content
			h1.post__title Recent posts
			ul.post__list
				each dataInfo in data
					li.post__list_item
						+post_card(dataInfo)
			button.post__botton(type='button') older posts
		aside.post__sidebar
			form.post__form
				label(for="search")
					input(id="search" type="search" class="post__form_search" placeholder="Search blog")
				button(type="submit"  aria-label='Search' class="post__form_submit")
			each list in dataList
				+posts_list(list)
			.blog__banner
				+picture({
						img: 'other/posts-image.jpg',
						class: 'blog__banner_image',
						img_class: 'blog__banner_image_img',
						alt: 'Banner',
					})
			.post__tags
				h4.post__tags_title Tag cloud
				.post__tags_image
					+picture({
						img: 'other/posts-link.jpg',
						class: 'post__tags_image_in',
						img_class: 'post__tags_image_img',
						alt: 'Tags',
					})

