@import "ScssHelpers/helpers_all";

.posts_list {
	&:not(:last-child) {
		margin-bottom: 4.2rem;
	}
}

.posts_list__body {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	margin: 0 0 0 5px;
	&:not(:last-child) {
		margin-bottom: 3.6rem;
	}
}

.posts_list__heading {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	margin: 0 3rem 0 0;
}

.posts_list__heading_icon {
	height: 4rem;
	width: 4rem;
	&:not(:last-child) {
		margin: 0 3rem 0 0;
	}
}
.posts_list__heading_title {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.42;
	color: $black_main;
}

.posts_list__item {
	&:not(:last-child) {
		margin-bottom: 1.8rem;
	}
}

.posts_list__link {
	@extend %global_flex_block_row_nowrap_flex-start;

	font-size: 1.4rem;
	line-height: 1.57;
	color: $black_main;
	transition: color .3s ease;
	&::before {
		content: "";
		flex-shrink: 0;
		width: 4px;
		height: 4px;
		margin: .8rem .5rem 0 0;
		border-radius: 50%;
		background-color: $color_link_base;
		transition: background-color .3s ease, transform .3s ease;
	}
	@media (any-hover: hover) {
		&:hover {
			color: $green;
			&::before {
				background-color: $grey;
				transform: scale(1.3);
			}
		}
	}
}
