mixin header
	header.header
		.header_in.section_in
			.header__body
				.header_main_row
					.menu_trigger.menuTrigger
						span.menu_trigger_decor
					h1.logo_wrap
						a(href="#").logo_text TAGS:
					nav.header_menu
						+menu({
							gl_class: 'header_menu',
							items: [
								{title: 'bitcoin', url: '#', active: false},
								{title: 'bittorrent', url: '#', active: false},
								{title: 'irc', url: '#', active: false},
								{title: 'news', url: '#', active: false},
								{title: 'privacy', url: '#', active: false},
								{title: 'programming', url: '#', active: false},
								{title: 'security', url: '#', active: false}
							]
						})
				.header_info
					each linkHeader in ['team','contact']
						a.header_info__link(href="#")= linkHeader