-
	linkHeader = [
		{
			title:'bitcoin',
		},
		{
			title:'bittorrent',
		},
		{
			title:'irc',
		},
		{
			title:'news',
		},
		{
			title:'privacy',
		},
		{
			title:'programming',
		},
		{
			title:' security',
		},
	]

mixin header
	header.header
		.header__container
			.header__body
				.header_tags
					.header_tags__title TAGS:
					nav.header_tags__lists
						ul.header_tags__list
							each link in linkHeader
								li.header_tags__item
									a(href="#").header_tags__link= link.title
				.header_info
					a(href="#").header_info__link team
					a(href="#").header_info__link contact