
-
	let linkItemOne =  [
		'Upcoming Changes (Live Chat, Less Censorship, More Access)',
		'New Servers (US Washington DC)',
		'New Servers (US Denver)',
		'Open Source: Releasing the PIA iOS Client',
		'Opera Extension is now available'
	];
	let linkItemTwo =  [
		'The Gift of Privacy',
		'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture',
		'About the PIA Client Security and VPN Security in General',
		'A Private Net Is Just As Fundamental A Right As Freedom Of Speech',
		'Opera Extension is now available'
	];

mixin posts_list(title, image, ...items)
	.posts_list
		.posts_list__top
			.posts_list__img
				img(src=`images/other/${image}`, alt="post")
			.posts_list__title= title
		ul.posts_list__list
			each item in items
				li.posts_list__item
					a(href="#").posts_list__link= item
