//---------------------------------------------sections
.section {
	position: relative;
	padding: 0 1.5rem;
	width: 100%;

	font-size: 1rem;

	//remove this demo style
	&.demo_mod {
		@extend %global_flex_block_row_nowrap_center_center;

		height: calc(100vh - (var(--height-footer) + var(--height-header)));

		font-size: 4rem;
		color: $white;
		text-align: center;

		background-color: $black;
	}
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

.index_page__container {
	max-width: $point_1;
	margin: 0 auto;
}
//=================Головний блок====

.post {
}

.post__main {
	padding-top: 4rem;
	@media (min-width: $point_3) {
		display: flex;
	}
}

.post__content {
	&:not(:last-child) {
		padding: 0 6rem 0 0;
	}
}

.post__title {
	font-size: 3.2rem;
	font-weight: 300;
	line-height: 1.38;
	color: #22252e;
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
}

.post__list_item {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #ebeced;
		transition: height 0.3s ease 0s, background-color 0.3s ease 0s;
	}
	&:not(:last-child) {
		margin: 0 0 2rem 0;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: rgba(242, 242, 242, 0.2);
			&::before {
				height: 2px;
				background-color: $green;
			}
		}
	}
}

//=======block post__sidebar
.post__sidebar {
	@media (min-width: $point_3) {
		flex: 0 0 40rem;
		padding: 0 0 0 6rem;
		border-left: 1px solid #ebeced;
	}
}
.blog__banner {
	width: 34rem;
	&:not(:last-child) {
		margin-bottom: 5.2rem;
	}
}
.blog__banner_image_img {
	object-fit: cover;
}

.post__tags_title {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.42;
	color: #22252e;
}

.post__tags_image,
.blog__banner {
	width: 32.4rem;
}

.post__tags_image_img,
.blog__banner_image_img {
	object-fit: cover;
}
