//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: 1rem;

	//remove this demo style
	&.demo_mod {
		@extend %global_flex_block_row_nowrap_center_center;

		height: calc(100vh - (var(--height-footer) + var(--height-header)));

		font-size: 4rem;
		color: $white;
		text-align: center;

		background-color: $black;
	}
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

//=================Головний блок====

.main-page {
	padding: 4rem 0;
}

.main-page__container {
	max-width: $point_1;
	margin: 0 auto;
}

.main-page__wrapper {
	display: flex;
}
.main-page__post {
	display: grid;
	row-gap: 3rem;
	padding: 0 6rem 0 0;
}
.main-page__blog {
	flex: 0 0 40rem;
	padding: 0 0 0 6rem;
	border-left: 1px solid #ebeced;
}

.main-page__title {
	font-size: 3.2rem;
	font-weight: 300;
	line-height: 1.38;
	color: #22252e;
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
}

.main-page__img {
	position: relative;
	width: 34rem;
	height: 45.4rem;
	&:not(:last-child) {
		margin-bottom: 5.2rem;
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.tag-cloud__title {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.42;
	color: #22252e;
}

.tag-cloud__img {
	width: 32.4rem;
	height: 31rem;
}
