.form_input__label {
	@extend %form_el_label;
}

.form_input__element {
	@extend %form_el_default;
}
//=====post form======================

.post__form {
	position: relative;
	margin: 0 0 5.4rem 0;
}
.post__form_search {
	width: 100%;
	padding: 1.6rem 1rem 1.6rem 5.8rem;
	border-radius: 0.5rem;
	border: solid 1px #d7d8d9;
	background-color: #fff;
	&::placeholder {
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 1.56;
		color: rgba(34, 37, 46, 0.8);
	}
}
.post__form_submit {
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	top: 50%;
	left: 2rem;
	transform: translate(0, -50%);
	cursor: pointer;
}
